.back-top{
position:fixed;
bottom:30px;
right:30px;
width:55px;
height:55px;
border:none;
border-radius:50%;
background:#d4af37;
color:#111;
font-size:24px;
cursor:pointer;
box-shadow:0 10px 30px rgba(212,175,55,.4);
z-index:9999;
transition:.3s;
}

.back-top:hover{
transform:translateY(-5px);
}